# Ignore Java compiled files
*.class
*.bluej
*.ctxt
*.jar
*.war
*.nar
*.ear
*.class

# Ignore libGDX / Gradle build directories
bin/
gen/
out/
build/
.gradle/
lwjgl3/bin/
lwjgl3/build/

# IDE specific files
.idea/
*.iml
.project
.classpath
.settings/